<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div id="main">
    <div id="page1">
      <img src="/images/ex.png" alt="">
    </div>
    <div id="page2">
      <div id="card">
        <form action="/" method="post">
          <h1 class="reghead">Register Now</h1>
          <input type="text" name="username" placeholder="Enter your name"><br><br>
          <input type="email" name="email" placeholder="Enter your Email"><br><br>
          <input type="password" name="password" placeholder="enter your password"><br><br>
          <input type="password" name="cpassword" placeholder="Conform the Password"><br><br>
          <input type="text" name="city" placeholder="enter your city name "><br><br>
          <button>Sign Up</button>

        </form>
        <hr>
        <br><br>
        <h4>Already have an account ? <a href="/login">Sign in</a> </h4>
      </div>


    </div>
  </div>

</body>

</html>