<div class="deshboard">
<i class="ri-wallet-fill"></i> <a href="/profile">Deshboard</a>
</div><br>
<div class="Payment"> <i class="ri-currency-line"></i> <a href="/payment">Payment</a> </div><br>
<div class="history"> <i class="ri-shopping-bag-line"></i> <a href="/history">History</a> </div><br>
<div class=" accounts"> <i class="ri-account-circle-line"></i> <a href="/account">Accounts</a> </div><br><br><br>


<style>
    a {
        text-decoration: none;
        color: white;
    }
</style>