<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/stylelog.css">
</head>

<body>
  <div id="main">
    <div id="page1">
      <img src="/images/ex.png" alt="">
    </div>
    <div id="page2">
      <div id="card">
        <form action="/login" method="post">
          <h1 class="reghead">Login page</h1>
          <input type="text" name="username" placeholder="Enter your name"><br><br>
          <input type="password" name="password" placeholder="enter your password"><br><br>

          <button>Sign in</button> &nbsp;&nbsp;&nbsp; <a href="/forget">Forget password ?</a>

        </form>
        <hr>
        <br><br>
        <h4>Don't have an account ? <a href="/">Sign in</a> </h4>
      </div>


    </div>
  </div>

</body>

</html>