<nav>
    <div class="hai"><i class="ri-menu-3-fill"></i></div>
    <h4>Expense</h4>
    <div class="item">
        <a href="/profile">Deshboard</a>
        <a href="/payment">Payment</a>
        <a href="/history">History</a>
        <a href="/account">Account</a>

    </div>
    <a href="/signout"><i id="logout" class="ri-logout-box-line"></i></a>
</nav>