<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>send mail page</h1>

    <form action="/send-mail" method="post">
        <input type="email" name="email" placeholder="Email" />
        <button>Send Mail</button>
    </form>
    
</body>
</html>